* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century-gothic, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 38%;
  height: 100vh;
  display: inline-block;
}

.form-section {
  width: 62%;
  height: 100vh;
  display: inline-block;
  flex-basis: auto;
  padding-top: 80px;
  background-color: rgb(235, 235, 235);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 40px;
}

.form {
  padding: 20px 30px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

input {
  display: block;
  border: 1px solid rgb(213, 215, 215);
  border-radius: 3px;
  padding: 5px 10px;
}

input:focus,
input:focus-visible {
  border: 1px solid rgb(25, 117, 246);
  box-shadow: 2px 2px 2px 1px rgb(217, 217, 217);
}

input:invalid {
  border: 1px solid rgb(195, 48, 43);
}

label {
  display: inline-block;
  font-size: 0.7em;
  margin: 10px 0;
}
